body {
    background-color: #619885;
    color: #69594E;
    max-width: 1340px;
    margin-left: 40px;
}

h1 {
    text-align: center;
    font-size: 68px;
    font-weight: 700;

}

h3 {
    text-align: center;
    font-size: 24px;
}

.explain {
    font-size: 28px;
}

.buttons {
    text-align: center;
}
button {
    width: 70px;
    height: 30px;
}

form {
    text-align: center;
    margin-bottom: 5px;
    color: #090909;
}

input {
    margin-bottom: 10px;
}

.fizzBuzz {
    color: #F9E5B1;
    -webkit-column-count: 5; /* Chrome, Safari, Opera */
    -moz-column-count: 5; /* Firefox */
    column-count: 5;
    margin: 50px 0 50px 120px
}

p {
    margin-top: 0;
    font-size: 18px;
}