body {
    /*
    background-color: #C8B8AC;
    */

    background-color: #619885;
    color: #4B3D54;
    max-width: 1340px;
    margin-left: 40px;
}

h1 {
    text-align: center;
    font-size: 70px;
    font-weight: 700;

}

h2 {
    font-size: 54px;
    padding: 10px 0 0 20px;
}

h3 {
    text-align: center;
    font-size: 24px;
}

.explain {
    font-size: 28px;
    padding: 0 20px 0 20px;
}

.buttons {
    text-align: center;
}
button {
    width: 70px;
    height: 30px;
}

form {
    text-align: center;
    margin-bottom: 5px;
    color: #090909;
}

input {
    margin-bottom: 10px;
}

.fizzBuzz {
    color: #CFFFCC;
    -webkit-column-count: 5; /* Chrome, Safari, Opera */
    -moz-column-count: 5; /* Firefox */
    column-count: 5;
    margin: 50px 0 50px 120px
}

p {
    margin-top: 0;
    font-size: 20px;
}

a {
    font-size: 20px;
}